# PYTHON .GITIGNORE -------------
*.pyc
*.shelve

# JAVA .GITIGNORE -------------
*.class

# Package Files #
# include *.jar for library dependencies
*.war
*.ear

# GRAILS .GITIGNORE -----------

# configuration files
# kumulus/grails-app/conf/Config.groovy
# kumulus/grails-app/conf/DataSource.groovy

# web application files
kumulus/web-app/WEB-INF

# IDE support files
kumulus/.classpath
kumulus/.launch
kumulus/.project
kumulus/.settings
kumulus/*.launch
kumulus/*.tmproj
kumulus/ivy*
kumulus/eclipse

# default HSQL database files for production mode
kumulus/prodDb.*

# general HSQL database files
kumulus/*Db.properties
kumulus/*Db.script

# logs
kumulus/stacktrace.log
kumulus/test/reports
kumulus/logs

# project release file
kumulus/*.war

# plugin release files
kumulus/*.zip
kumulus/plugin.xml

# older plugin install locations
kumulus/plugins
kumulus/web-app/plugins

# "temporary" build files
kumulus/target

# filesystem
/data/filesystem/main/*
/data/filesystem/staging/*

# other kumulus project files
*.iws
/manager/target
/scando/01-capture/scannerapp_client/target
/scando/01-capture/scannerapp_server/target

