html{
    
}

body {
    font-size: 14px;
}

table{
    width: 100%;
}

/*header*/
#kumulus-header-layout{
    background: linear-gradient (bottom, #0B5992 5%, #0E3857 95%);
    background: -moz-linear-gradient(bottom, #0B5992 5%, #0E3857 95%);
    background: -webkit-linear-gradient(bottom, #0B5992 5%, #0E3857 95%);
}

#kumulus-header{
    width:90%;
    margin: auto;
    height: 60px;
    margin-bottom: 3px;
}

#kumulus-logo{
    height:59px;
    width: 59px;
    line-height: 60px;
    background-image:url(images/AethonLogo100.1.png) ;
    background-repeat: no-repeat;
    background-position:  center;
    border-radius: 4px;
}
/*menu*/
.kumulus-menu {
	height: 30px;
	width: 100%;
        background-color: #0B5992 ;
	position: relative;
        margin-bottom: 3px;
}
.kumulus-menu ul {
        width: 90%;
	margin: auto;
	height: 30px;
        padding: 0px;
        -webkit-padding-start:0px;
}
.kumulus-menu li {
	display: inline;
	float: left;
        margin-right: 3px;
        min-width: 19%;
}
.kumulus-menu a {
	color: #fff;
        width: 100%;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	text-shadow: 1px 1px 0px #283744;
        line-height: 30px;
        font-weight: bold;
}

.kumulus-menu li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.kumulus-menu li:last-child a {
	border-right: 0;
}
.kumulus-menu a:hover{
	background:#fff;
        color: darkblue;
        text-shadow: none;
}
.kumulus-menu a#pull {
	display: none;
}

/*menu test*/

/*mainlayout*/
#layout{
    width:90%;
    margin: auto;
}

.kumulus-small-font {
    
}

.kumulus-hight{
    text-align:left;
    height: 103px;  
    margin: Auto;
    line-height: 100px;
}

.kumulus-label{
    line-height: 15px;
    text-align: left;
    vertical-align: middle;
    font-size: 2em;
    width:30%
}

.kumulus-float-left{
    float:left;
}

.kumulus-float-right{
    float: right;
    margin-right: 5px;
}
.kumulus-barcode-image{
    height: 100%;
    width: 15%;
    float: left;
    line-height: 90px;;
    margin-left: 10px;
    margin-right:10px;
}
.kumulus-image{
    vertical-align: middle;
    width:  70%;
}
.kumulus-thumbnail-image{
    vertical-align: middle;
    width:  40%;
}
.kumulus-td-width{
width:60%;
}

.kumulus-control-group{
    margin-bottom:.5em
}

.kumulus-control-group label{
        display:inline-block;
        vertical-align:middle;
        margin:0 1em 0 0 
}

.kumulus-margin-bottom{
    margin-bottom: 3px;
}

.kumulus-margin-left{
    margin-left: 12px;
}

.kumulus-bold-font{
    font-weight: bold; 
    font-size: 14px;
}

.kumulus-padding-side{
    padding-left: 40px;
    padding-right: 40px;
}

.kumulus-gradient-blue{
    background: linear-gradient(top,#001133,#003355);
    color: white;
    a: "color: white;";
}

.kumulus-session-management{
    float: right;
    color: #fff;
    margin-right: 7px;
    line-height: 60px;
}

.kumulus-session-management a{
    color: #91ABAB;
}
.kumulus-session-management a:hover{
    color: #ABA144;
}
/* layout body */
#kumulus-full-width{
    width: 100%;
}

.kumulus-table-margin{
    margin: 3px;
}

#advancedSearch{
    text-align:center;
}

#search{
    width: 100%;
    margin: 2px auto;
}

/*  work area layout elements and widgets
    widget sizing formula to calculate element height: 
    2 x (margin? + border + padding) + height = container height 
*/

.kumulus-container{
    height: 610px;
}

.kumulus-widget-base {
    margin: 3px;
    border: 1px;
    padding: 5px;
    border-style: solid;
    border-color: #e0e0e0;
    background-color: #f4f4f4;
}

.kumulus-widget{    
    height: 591px;    
}

.kumulus-widget-1-2{
    height: 288px;    
}

.kumulus-widget-1-3{
    height: 188px;    
}

.kumulus-widget-2-3{
    border: 1px;
    padding: 5px;
    height: 388px;    
    border-style: solid;
    border-color: #ffffff;
    background-color: #F7F7F7;
}

.kumulus-widget-4-5{
    height: 468px;    
}

.kumulus-widget-3-5{
    height: 348px;
}

.kumulus-widget-2-5{
    height: 228px;    
}

.kumulus-widget-1-5{
    height: 108px;    
}

.kumulus-scrollable-y{
    overflow-y: auto;
}

.kumulus-scrollable-x{
    overflow-x: auto;
}

.kumulus-padding{
    padding: 3px;
}

/*  widget headers */

.kumulus-widget-header {
    width: auto;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 15px;
    background-color: #DDDDDD;
}

.kumulus-widget-header-title {
    font-weight: bold;
    color: #1d3aa4;
}

.kumulus-widget-header-action {
    float: right;
}




.kumulus-print{
    width: 100%;
}

.kumulus-button-bank {
    text-align: right;
    margin-right: 1px;
    margin-left: 1px;
    margin-top: 1px;
}

/* UI element components */
.kumulus-preview{
    height: 95%;
    width: 95%;
    padding: 10px;
    text-align:center;
}

.kumulus-button-bank a{
    margin-top: 4px;
    
}

/* filmstrip */

.kumulus-filmstrip{
    background-color: #d8e3ff; 
    text-align: center;
    max-height: 555px;   
    width: 100%;
    min-height: 40px;
}

.kumulus-filmstrip ul{
    list-style-type: none;
    padding: 5px;
    display: block;
    background-color: #d8e3ff; 
}

.kumulus-filmstrip li{
    text-align:center;
    list-style: none; 
}

.kumulus-thumbnail{
    margin: auto;
    border: 1px;
    border-style: solid;
    border-color: #dfdfdf;
}

.kumulus-control-group input,textarea,select{
    width: 40%;
    margin: auto;
    margin-top: 6px;
    padding: 4px;
}
    
.kumulus-data-entry{
    padding: 3px 10px;
    overflow-y: auto;
    text-align: left;
}

.kumulus-node-tree{
    padding: 1px 3px;
    overflow-x: auto;
    overflow-y: auto;
    height: 250px;
}

.kumulus-line-item-table {
    width: 100%;
    text-align: center;
}


.kumulus-header-row {
    width: 50px;
}
.error{
    background-color:yellow;
}
.pure-control-group label.error{
    visibility: hidden; 
    width: 0px;
    height: 0px;
}
label.error{
    visibility: hidden; 
    width: 0px;
    height: 0px;
}
.kumulus-vertical-align-top{
    vertical-align: top; 
    padding: 0px;
}
.kumulus-vertical-align-top tr{
    width: 99%;
}
.kumulus-vertical-align-top td,.kumulus-vertical-align-top th{
    min-width: 15%
}

.kumulus-vertical-align-top input{
    height: 30px;
    margin: auto; 
    min-width: 100%;
}

.kumulus-vertical-align-top a{
    line-height: 30px;
}

.kumulus-margin-top{
    margin-top: 10px;
}
.kumulus-margin-right{
    margin-right: 15px;
}
.kumulus-margin2{
    margin: 10px;
}

.kumulus-barcode-layout{
    width: 29%;
    padding: 18px 2px;;
}
.kumulus-barcode-layout-image{
    height: 100%
}

.kumulus-margin{
    margin: 2px;
}
.kumulus-table-image{
    height: 100px;
    width: 150px;
    margin-left: 10px;
    padding: 2px;
    border: #97D0E8 solid 1px;
    border-radius: 5px;
}
.kumulus-grand-total-margin-right{
   margin-right: 115px;
}

.kumulus-small-input-box{
    width: 50px;
}

.clear-float{
    clear: both; 
}

.kumulus-task{
	width: 100%;
        margin-bottom: 3px;
}

.kumulus-task ul{
	list-style:none;
        margin: 0px 0px;
}

.kumulus-task ul{
    width: 95%;
    padding: 0px;
}

.kumulus-task ul li{
    margin-left: 8px;
    clear: both;
}

.kumulus-task ul li span a{
    margin-right: 7px;
    float: right
}


/* Task queue */

.kumulus-task-queue-action-item{
    background-color: #EFEFD5;
}

.kumulus-task-queue{
    width: 100%;
}

.kumulus-task-queue-project-name{
    float: left;
    padding-left: 15px;
}

.kumulus-task-queue-action{
    width: 22%;
    text-align:center;
}

.kumulus-task-count{
    width: 22%;
    text-align:center;    
}





.pure-u-1-12 .pure-button{
   width: 90%;
}

.kumulus-shipment-subheader{
    padding-left: 8px;
    background-color:#EEEEFF;
    height: 20px;
}

.kumulus-shipment-sub-subheader{
    padding-left: 20px;
    background-color:#E6E6EF;
    height: 20px; 
}

.kumulus-shipment-details{
    padding-left: 25px;
    height: 20px;
}

.kumulus-shipment-table thead{
    background:#e0e0e0;
    color:#000;
    text-align:left;
    vertical-align:bottom;
}

.kumulus-shipment-table td{
    padding: 2px 1px 0px 0px;
}

.kumulus-button-align{
    margin-top: -3px;
}

.pure-table thead{
    background: none;
    border-bottom: 2px #e0e0ef solid;
}
.kumulus-ordermaterial-Amount{
    width: 4.38em;
}

.pure-table .kumulus-border-top td{
    border-top: 2px #e0e0ef solid;
}

.kumulus-search-result{
    padding : 0px 10px 4px 4px;
    margin-left:50px;
    border: #F2F7FD solid 2px;
    width: 80%;
    margin-bottom: 4px;
    border-radius: 5px;
    overflow: hidden;
}

.kumulus-search-result p{
    margin-left: 10px;
}

.kumulus-search-result h4{
    margin-left: 10px;
}
.paging a.step {
    padding: 0 .3em;
}
.paging span.currentStep {
    font-weight: bold;
}

.kumulus-pagination a{
    padding: 0 .3em;
}
@media (max-width : 700px) {
    .kumulus-table-image{
        height: 60px;
        width: 100px;
    }
    .kumulus-search-margin .pure-input{
        margin-left: 0px;
        width: 50%;
    }
    
     .kumulus-label
    {
        padding: 3px;
        width:64%;
        line-height: 10px;
    } 
    
    .kumulus-control-group input, textarea, select{
        width: 70%;
        padding: 2px;
    }
    .kumulus-hight{
        line-height: 50px;
    }
    .kumulus-control-group textarea{
        margin-top: -10px;
        height: 50px;
    }
    .pure-button{
        padding: 8px 4px;
    }
    
    .pure-form .pure-input-1-2{
        width:80%;
        margin: auto;
    }
    .kumulus-barcode-print-layout{
        width: 33%;
        margin: 4px;
        float: left;
        overflow: hidden;
    }
}
@media (max-width : 600px) {
    .kumulus-menu li {
            display: inline;
            float: left;
            min-width: 15%;
    }
    .kumulus-table-image{
        height: 50px;
        width: 80px;
        margin-left: 5px;
    }
}
/*Smartphone*/
@media (max-width : 500px) {
    .kumulus-menu{
        height: 155px;
        background-color: #fff; 
    }
    .kumulus-menu li {
        display: block;
        background-color: #0B5992 ;
        float: none;
        width: 100%;
        overflow: hidden;
    }
    .kumulus-menu li a {
        border-bottom: 1px solid #576979;
    }
    .kumulus-barcode-image{
        height: 0px;
        width: 0px;
        visibility: hidden;
    }
    .kumulus-label
    {
        padding: 3px;
        width:90%;
        line-height: 10px;
        margin-bottom: 7px;
    } 
    .kumulus-control-group input,textarea,select{
        width: 80%;
        padding: 3px;
        margin-left: 1em;
    }
    .kumulus-search-margin .pure-input{
        width: 90%;
        margin: 2px;
    }
    .kumulus-container-inside-11-24{
        height: 365px;
    }
    .kumulus-table-image{
        height: 20px;
        width: 40px;
        margin-left: 0px;
    }
    .kumulus-table-image-cell{
        width: 45px;
    }
}


/* PURE TABLE ADJUSTMENTS */

.pure-table{
    border:0px;
}

.pure-table-horizontal td,.pure-table-horizontal th{
	border-width:0 0 0px;
	border-bottom:0px;
}

/* SHIPMENT TABLE */
.kumulus-table-shipment {
    width: 500px;
}

/* SEARCH */
.kumulus-search-input{
    text-align: center;
}

.kumulus-search-margin{
    display: inline-block;
    width: 100%;
    margin-top: 3px; 
    padding: 4px;
}
.kumulus-search-margin .pure-input{
    margin-left: 5px;
    width: 70%;
}

.kumulus-search-margin .pure-button{
    float: right;
}

